<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
h1 {
    text-shadow: 2px 2px;
}
.outer {
    border-bottom-color: aqua;
    border-right-color: coral;
    border-left-color: lightseagreen;
    width: 36px;
    height: 36px;

}
.inner {
border: 11px solid #9C27B0;
    border-bottom-color: aqua;
    border-right-color: coral;
    border-left-color: lightseagreen;
    width: 15px;
    /* height: 10px; */
    height: 15px;
    transform: rotate(45deg);
    border-radius: 50px;
}
.rt-txt {
margin-left: 100px;
font-size: 40px;
}
</style>
</head>
<body>

<h1>Rotate:</h1>
<div ng-app="app" ng-contoller="controller">
<div id="elem" ng-mousemove="mousemove($event)" class="outer">
<div class="inner"></div>
</div>
<label id="demo"></label>
<label id="rot" style="transform: rotate({{degree}})" class="rt-rxt">Nandha</label>
</div>
<script>
var app = angular.module("app", []);
app.controller("controller", function($scope) {
$scope.degree = 0;
console.log("anana");
$scope.mousemove = function( event ) {
var x = event.pageX - $('#elem').offset().left;
var y = event.pageY - $('#elem').offset().top;
  console.log( "pageX: " + x + ", pageY: " + y +"width:" +$("#elem").width());
  document.getElementById("demo").innerHTML = getAngleDeg(x,y,18,18);
};
});
function getAngleDeg(ax,ay,bx,by) {
  var angleRad = Math.atan((ay-by)/(ax-bx));
  var angleDeg = angleRad * 180 / Math.PI;
  return(angleDeg);
}

</script>
</body>
</html>

